username            = "openstsack_username"
tenantname          = "tenantname"
password            = "passs"
openstack_auth_url  = "http://openstack_auth_url:5000/v3/"
openstack_keypair   = "key-pair"
network_name        = "network_name"
#AWS
aws_region          = "eu-west-2"
access_key          = "123131321"
secret_key          = "******"
aws_zone_id         = "xxxxxxxx"
# GCP DB
db_username         = "db_username"
db_password         = "db_pass"
db_name             = ""
gcp_network_name    = "gcp_project_network_name"
gcp_projectname     = "project_name"
gcp_credentials_json = "path_to_credential_file.json"